.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__cover {
  height: 20rem;
  width: 100%;
}

.card__content {
  /* Take available height */
  flex: 1;
}
